#Red {
  border: 20px solid #000; 
  display: inline-block; 
  min-width: 20em; /* the two min styles make the shape */
  min-height: 25em; /* of the divs oblong*/
  border-radius: 50%; /* this makes the normally square div round */
  border-top-color: #f00;
  border-left-color: transparent; /* these remove the color from the left side */
  border-right-color: transparent; /* the right side */
  border-bottom-color: transparent; /* and the bottom of the circle */
}
#Orange {
  border: 20px solid #000;
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-top-color:#ffa500;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
}
#Yellow {
  border: 20px solid #000;
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-top-color:#ff0;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
}
#Green {
  border: 20px solid #000;
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-top-color:#00bc3f;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
}
#Blue {
  border: 20px solid #000;
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-top-color:#06f;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
}
#Indigo {
  border: 20px solid #000;
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-top-color:#8a2be2;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
}
#Violet {
  border: 20px solid #000;
  display: inline-block; 
  min-width: 20em; 
  min-height: 25em; 
  border-radius: 50%; 
  border-top-color:#d300c9;
  border-left-color: transparent; 
  border-right-color: transparent; 
  border-bottom-color: transparent; 
}




